.container {
    display: grid;
    grid-template-columns: repeat(4, 50px);
    grid-template-rows: minmax(120px, auto) repeat(4, 50px);
    justify-content: center;
    align-items: center;
    border: solid 1px black;
}      

.result {
    border: solid 1px black;
    grid-area: 1 / 1 / 1 / 5;
    height: 40px;
    
}

.equals {
    grid-area: 5 / 3 / 5 / 5;
}